@model IEnumerable<SFExpress.Models.Employee>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiredDate)
            </td>
            @if (item.Task.Count > 0)
            {
                <td>
                    @foreach (var obj in item.Task)
                    {
                    <div>
                        @Html.DisplayFor(modelItem => obj.Name) - @Html.DisplayFor(modelItem => obj.StartTime) -  @Html.DisplayFor(modelItem => obj.Deadline)
                    </div>
                    }
                </td>
            }
        </tr>
}
    </tbody>
</table>
